<body><script id="subaccounts" type="text/x-template">
<tr class="subaccount">
    <td class="field account_name"
        v-bind:style="{paddingLeft: (indent || 0) * 1 + 'em' }">
        <a v-link="{
                name:'account-history',
                params: {docId: model._id},}">
                [[model.name]]
        </a>
    </td>
    <td class="field type">
        [[model.type | getAccountType | get 'name' ]]
    </td>
    <td class="field balance">
        [[model.balance]]
    </td>
    <td class="field delete">
        <button class="delete"
            @click="removeAccount(model._id)"
            >Delete</button>
    </td>
</tr>
<tr v-if="model.subaccounts && model.subaccounts.length > 0"
    is="subaccounts"
    v-for="acc in model.subaccounts"
            :model="acc"
            :indent="(indent || 0) + 1">
</tr>

</script></body>
